<h1 class="text-center mb3">{{title}}</h1>
<h4>Weather</h4>
<ul class="list-group">
    {{#each weather}}
    <li class="list-group-item">{{this.id}}  {{this.output_scale}} {{this.output_temperature}} {{this.date_of_entry}}
        <button id ="edit" onclick="changeText();"">Edit</button>
        <button>Delete</button>
    </li>
    {{/each}}
</ul>
<script>
  function changeText() {
    document.getElementById('edit').innerHTML = 'Save'; 
  }
</script>